alias c='clear'
alias cd..='cd ..'
alias cd...='cd ../..'
alias cd....='cd ../../..'
alias pac='sudo pacman'
alias vpnc='ivpn connect -fastest -city'
alias vpnr='ivpn connect -last'
alias vpnd='ivpn disconnect'
alias vpns='ivpn status'
alias susp='systemctl suspend'
alias myip='echo $(curl -s https://api.my-ip.io/ip)'
alias myip_alt='curl -s https://api.ipify.org'
alias ls_='eza -lh --git --icons --color=auto --group-directories-first'
alias ls='lsd -alh --git --group-directories-first'
alias officemon='xrandr --output DP-0 --off --output DP-1 --off --output DP-2 --off --output DP-3 --off --output DP-4 --primary --mode 2560x1600 --scale 1 --pos 0x0 --rate 165.02 --rotate normal --output HDMI-0 --mode 1920x1080 --scale 1.48x1.48 --pos 2560x260 --rate 74.97 --rotate normal && echo "awesome.restart()" | awesome-client && c'
alias homemon='xrandr --output DP-0 --off --output DP-1 --off --output DP-2 --off --output DP-3 --off --output HDMI-0 --mode 2560x1440 --pos 0x0 --rotate normal --output DP-4 --primary --mode 2560x1600 --pos 2560x0 --rate 165.02 --rotate normal && echo "awesome.restart()" | awesome-client'
alias singlemon='xrandr --output DP-0 --off --output DP-1 --off --output DP-2 --off --output DP-3 --off --output HDMI-0 --off --output DP-4 --primary --mode 2560x1600 --pos 0x0 --rate 165.02 --rotate normal && echo "awesome.restart()" | awesome-client'
alias dev='npm run dev'
alias build='npm run build'
alias hosts='sudo nano /etc/hosts'
alias logout='pkill -KILL -u "$USER"'
alias ping='ping -c 5'
alias ardr='autorandr'
alias wgu='wg-quick up'
alias wgd='wg-quick down'
alias dotfiles='/usr/bin/git --git-dir=$HOME/.dotfiles/ --work-tree=$HOME'
alias nano='micro'
